{% load i18n utils_tags %}

{% if theme %}
{#{{chapter.name}}  ---*---*---#}

<div class="panel panel-default">
    <div class="panel-body">
        <h5> Nuevo Capítulo</h5>
        <hr>

        <form method="post" action="{% url "save_chapter" %}" class="form-inline" id="chapter_name_form"> 
            {% csrf_token %}
            <input type="text" class="form-control col-md-8" id="name" name="name" placeholder="Nombre del capítulo">
            <input type="hidden" value="{{ theme.id }}" name="theme_id" id="id_theme"/>
            <input type="submit" value="{% trans "Crear" %}" name="submit" class="btn btn-primary col-md-4" style="margin-left:5px"/>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        <h5> Listado de Capítulos <a href="#" class="btn btn-primary btn-xs" onclick="{% ark 'fix_chapter_parents' 'chapter_frame' theme_id=theme.pk %}" ><i class="glyphicon glyphicon-sort"></i></a></h5>
        <hr>
        {% for chapter in theme.chapter_root %}
          {% include "chapter_row.html" with chapter=chapter theme=theme counter=0%}
        {% endfor %}

    </div>
</div>
<script>
    /*$(function() {
    $( "#menu" ).sortable();
            $( "#menu" ).disableSelection();
        });*/


$('#chapter_name_form').submit(function() { // catch the form's submit event
    $.ajax({ // create an AJAX call...
        data: $(this).serialize(), // get the form data
        type: $(this).attr('method'), // GET or POST
        url: $(this).attr('action'), // the file to call
        success: function(response) { // on success..
            $('#chapter_frame').html(response); // update the DIV
        }
    });
    return false;
});

{% for chapter in theme.chapter_set.all %}

$('#chapter_name_form_{{chapter.id}}').submit(function() { // catch the form's submit event
    $.ajax({ // create an AJAX call...
        data: $(this).serialize(), // get the form data
        type: $(this).attr('method'), // GET or POST
        url: $(this).attr('action'), // the file to call
        success: function(response) { // on success..
            $('#chapter_frame').html(response); // update the DIV
        }
    });
    return false;
});

$('#chapter_name_edit_link_{{chapter.id}}').click(function() {
    $('#chapter_name_no_edit_{{chapter.id}}').hide();
    $('#chapter_name_edit_{{chapter.id}}').show();
});

$('#chapter_name_delete_link_{{chapter.id}}').click(function(e) {
    var name = $(this).data('chapter');

    if (window.confirm("¿Desea eliminar el capitulo :\""+name+"\"?")) { 
        var url = "{% url "delete_chapter" chapter.id %}";
        $.ajax({ // create an AJAX call...
            url: url,
            success: function(response) { // on success..
                $('#chapter_frame').html(response); // update the DIV
            }
        });
    }
});

$('#chapter_body_edit_link_{{chapter.id}}').click(function() {
    var url = "{% url "show_chapter_body" chapter.id %}";
    $.ajax({ // create an AJAX call...
        url: url,
        success: function(response) { // on success..
            $('#chapter_body_frame').html(response); // update the DIV
        }
    });
});

{% comment %}
$('#chapter_up_link_{{chapter.id}}').click(function() {
    var url = "{% url "chapter_up" chapter.id %}";
    $.ajax({ // create an AJAX call...
        url: url,
        success: function(response) { // on success..
            $('#chapter_frame').html(response); // update the DIV
        }
    });
    return false;
});

$('#chapter_down_link_{{chapter.id}}').click(function() {
    var url = "{% url "chapter_down" chapter.id %}";
    $.ajax({ // create an AJAX call...
        url: url,
        success: function(response) { // on success..
            $('#chapter_frame').html(response); // update the DIV
        }
    });
    return false;
});
{%endcomment%}

$('#chapter_left_link_{{chapter.id}}').click(function() {
    var url = "{% url "chapter_left" chapter.id %}";
    $.ajax({ // create an AJAX call...
        url: url,
        success: function(response) { // on success..
            $('#chapter_frame').html(response); // update the DIV
        }
    });
    return false;
});

$('#chapter_right_link_{{chapter.id}}').click(function() {
    var url = "{% url "chapter_right" chapter.id %}";
    $.ajax({ // create an AJAX call...
        url: url,
        success: function(response) { // on success..
            $('#chapter_frame').html(response); // update the DIV
        }
    });
    return false;
});

{% endfor %}

$('li.chapter_li:even').css('background','#f0f0f0');
$('li.chapter_li:odd').css('border','solid 1px #f0f0f0');
</script>
{% endif%}
