{% load i18n utils_tags filters %}

<div class="panel panel-default" style="margin-top:1em">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="col-md-9 col-xs-9">{% trans "Temas" %}
                {% if request.user.is_staff %}
            </span><a href="{% url "theme_course_manage" course.id %}" class="btn btn-success btn-xs"  style="font-size:0.8em;color:white;"><span class="glyphicon glyphicon-plus-sign"></span></a>
            {% endif %}

            <a href="#" class="btn btn-default btn-xs pull-right side_panel_expand" onclick="$('#themes_panel').toggle()">
                <span class="glyphicon glyphicon-minus"></span>
            </a>
        </h3>
        <div style="clear:both"></div>
    </div>
    <div class="panel-body" id="themes_panel" style="">
        {% if not course.theme_set.all|is_empty %}
        <div class="table-responsive">
            <table class="table table-striped">
                {% for theme in course.theme_set.all %}
                <tr id="row-theme-{{theme.pk}}">
                    {% include "theme_row.html" with theme=theme %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-info" style="width:90%; margin:auto">{% trans "No hay temas para este curso" %}</div>
        {% endif %}
    </div>
</div>

<script>
</script>

