{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<h2>GEDUCA : <small>{% trans "Reset Password" %}</small></h2>
<hr/>

<div class="well">
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
  <input type="submit" value="{% trans "Send password" %}" class="btn btn-primary" />
</form>
</div>
<script>
	$('input').addClass("form-control input-xs");
	$('input[type="submit"]').removeClass("form-control")
</script>
{% endblock %}
